# ---> egov-student
# Eclipse

.metadata/
.settings/
.project
.classpath
.factorypath


# IntelliJ

.idea/
*.iml

# SmartTomcat

.smarttomcat

# Maven

/target/

# Compiled class file

*.class

# Log file

*.log

# BlueJ files

*.ctxt

# Mobile Tools for Java (J2ME)

.mtj.tmp/

# Package Files

_.jar
_.war
_.nar
_.ear
_.zip
_.tar.gz
*.rar
.svn/
target/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml

hs_err_pid*
replay_pid*

globals.properties